.game-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.game-card__image {
  border-radius: 15px;
  border-bottom-left-radius: 0;
  object-fit: cover;
  box-shadow: var(--shadow);
  width: 100%;
  height: auto;
}

.game-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-card__name {
  font-weight: 500;
}

.game-card__raiting {
  display: flex;
  gap: 3px;
}

.game-card__price {
  display: flex;
  gap: 5px;
}

.game-card__price-title {
  font-weight: 500;
}

.game-card__price-number--free {
  color: var(--free-color);
  font-weight: bold;
}

.button--delete {
  margin-top: 26px;
  background-color: #ff0000;
}
