:root {
  --main-color: #dce5e5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
