.main-container {
  padding: 16px 12px 76px 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.Toastify__toast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff88;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.Toastify__toast-container--top-center {
  transform: translate(0);
}

.Toastify__toast {
  height: 240px;
  aspect-ratio: 1;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 1.5rem;
  color: #000;
  padding: 18px;
  border-radius: 0;
}

.Toastify__toast-body {
  margin: 0;
  flex-direction: column-reverse;
  padding: 0;
}

.Toastify__toast-icon {
  margin: 0;
  justify-content: center;
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
}

.Toastify__toast--default {
  background-color: #dce5e5;
}

.Toastify__toast--error {
  background-color: #e6d3d3;
}

.Toastify__toast--success {
  background-color: #d7e6d5;
}

.loader {
  width: 120px;
  height: 120px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
