.nav-menu {
  height: 60.8px;
  background-color: var(--main-color);
  padding: 7.9px 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  @media (width >=450px) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.nav-menu-container__link {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding: 0px 7px;
  height: 45px;
}

.active::after {
  content: "";
  height: 3px;
  width: 41px;
  position: absolute;
  bottom: 58px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #000;
}

.nav-menu-container__text {
  height: 15px;
  font-weight: 500;
}
