.header {
  background-color: #dce5e5;
  display: flex;
  justify-content: center;
  height: 50px;
}

.header__title {
  font-size: 1.125rem;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
